body {
    font-family: sans-serif;
    background: #fafafa;
    color: #222;
}

h3 {
    margin-bottom: 0;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin: 0;
    font-family: monospace;
}

a {
    color: #325aa0;
    text-decoration: none;
}