<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>TinyAP</title>
</head>

<body></body>
<pre>{% if message %}{{ message }}{% endif %}</pre>

<h3>Welcome to TinyAP</h3>

<pre>micro-blogging platform built on ActivityPub, part of the Fediverse.
NoJS, Fast, Lightweight.
More info on <a href="https://github.com/izkluxcvy/tinyap">git repo</a>

<a href="/local">Local Timeline</a>
<a href="/federated">Federated Timeline</a>
<a href="/home">Home</a>
<a href="/login">Login</a>
<a href="/signup">Sign Up</a></pre>
</body>