<!DOCTYPE html>

<head>
    {% include "parts/head.html" %}
    <title>Login - {{ instance_name }}</title>
</head>

<body>
    <h3>Login</h3>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <input type="submit" value="Login">
    </form>

    <br><br>
    <a href="/signup">or Sign Up</a>
</body>