<!DOCTYPE html>

<head>
    {% include "parts/head.html" %}
    <title>New Note - {{ instance_name }}</title>
</head>

<body>
    {% include "parts/header.html" %}

    <h3>New Note</h3>

    {% if parent %}
    <pre><hr><a href="/@{{ parent.username }}/{{ parent.id }}">{{ parent.display_name }}@{{ parent.username }}</a> (<a href="/@{{ parent.username }}/{{ parent.id }}">{{ parent.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{{ parent.content | safe }}{% if parent.attachments %}

{{ parent.attachments | safe }}{% endif %}
---Reply---</pre>
    {% endif %}
    <form action="/new" method="post">
        <textarea name="content" rows="5" style="width: 98%;" required></textarea><br><br>
        {% if parent_id %}
        <input type="hidden" name="parent_id" value="{{ parent_id }}">
        {% endif %}
        <button type="submit">Post</button>
    </form>
</body>