<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <pre><a href="/home">Home</a> | <a href="/notifications">Notifications</a> | <a href="/new">New Note</a> | <a href="/local">Local Timeline</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a></pre>

    <h3>Note Detail</h3>
    <hr>
    <pre>{% if reply_note %}<strong><a href="/@{{ reply_note.username }}">{{ reply_note.display_name }}@{{ reply_note.username }}</a></strong>(<a href="/@{{ reply_note.username }}/{{ reply_note.uuid }}">{{ reply_note.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{{ reply_note.content }}{% if reply_note.in_reply_to %}
[Reply to: <a href="{{ reply_note.in_reply_to }}">{{reply_note.in_reply_to}}</a>]{% endif %}
---Reply---{% endif %}
<strong><a href="/@{{ note.username }}">{{ note.display_name }}@{{ note.username }}</a></strong>(<a href="/@{{ note.username }}/{{ note.uuid }}">{{ note.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{{ note.content }}
<a href="/new?in_reply_to={{ note.ap_id }}">Reply</a></pre>

    {% if is_liked %}
    <form action="/@{{ note.username }}/{{ note.uuid }}/unlike" method="post">
        <input type="hidden" name="ap_id" value="{{ note.ap_id }}">
        <button type="submit">Unlike ({{ like_num }})</button>
    </form>
    {% else %}
    <form action="/@{{ note.username }}/{{ note.uuid }}/like" method="post">
        <input type="hidden" name="ap_id" value="{{ note.ap_id }}">
        <button type="submit">Like ({{ like_num }})</button>
    </form>
    {% endif %}

    {% if is_you %}
    <form action="/@{{ note.username }}/{{ note.uuid }}/delete" method="post">
        <input type="hidden" name="ap_id" value="{{ note.ap_id }}">
        <button type="submit">Delete</button>
    </form>
    {% endif %}
</body>