<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>{{ note.display_name }}@{{ note.username }}: {{ note.content }} - {{ site_name }}</title>
</head>

<body>
    <pre><a href="/home">Home</a> | <a href="/notifications">Notifications</a> | <a href="/new">New Note</a> | <a href="/local">Local Timeline</a> | <a href="/federated">Federated Timeline</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a></pre>

    <h3>Note Detail</h3>
    <hr>
    <pre>{% if reply_note %}<strong><a href="/@{{ reply_note.username }}">{{ reply_note.display_name }}@{{ reply_note.username }}</a></strong>(<a href="/@{{ reply_note.username }}/{{ reply_note.uuid }}">{{ reply_note.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{% if reply_note.in_reply_to %}<small>[Reply to: {{reply_note.in_reply_to}}]</small>
{% endif %}{{ reply_note.content }}
<hr>---Reply---{% endif %}
<strong><a href="/@{{ note.username }}">{{ note.display_name }}@{{ note.username }}</a></strong>(<a href="/@{{ note.username }}/{{ note.uuid }}">{{ note.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{{ note.content }}</pre>
    <a href="/new?in_reply_to={{ note.ap_id }}">Reply</a>

    {% if is_liked %}
    <form action="/@{{ note.username }}/{{ note.uuid }}/unlike" method="post">
        <input type="hidden" name="ap_id" value="{{ note.ap_id }}">
        <button type="submit">Unlike ({{ note.like_count }})</button>
    </form>
    {% else %}
    <form action="/@{{ note.username }}/{{ note.uuid }}/like" method="post">
        <input type="hidden" name="ap_id" value="{{ note.ap_id }}">
        <button type="submit">Like ({{ note.like_count }})</button>
    </form>
    {% endif %}

    {% if is_boosted %}
    <form action="/@{{ note.username }}/{{ note.uuid }}/unboost" method="post">
        <input type="hidden" name="ap_id" value="{{ note.ap_id }}">
        <button type="submit">Unboost ({{ note.boost_count }})</button>
    </form>
    {% else %}
    <form action="/@{{ note.username }}/{{ note.uuid }}/boost" method="post">
        <input type="hidden" name="ap_id" value="{{ note.ap_id }}">
        <button type="submit">Boost ({{ note.boost_count }})</button>
    </form>
    {% endif %}

    {% if is_you %}
    <form action="/@{{ note.username }}/{{ note.uuid }}/delete" method="post">
        <input type="hidden" name="ap_id" value="{{ note.ap_id }}">
        <button type="submit">Delete</button>
    </form>
    {% endif %}

    {% if replies %}
    <pre><hr>---Replies---</pre>
    {% for reply in replies %}
    <pre><strong><a href="/@{{ reply.username }}">{{ reply.display_name }}@{{ reply.username }}</a></strong>(<a href="/@{{ reply.username }}/{{ reply.uuid }}">{{ reply.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{{ reply.content }}</pre>
    {% endfor %}
    {% endif %}
</body>