<!DOCTYPE html>

<head>
    {% include "parts/head.html" %}
</head>

<body>
    <h3>Notifications</h3>

    {% for notif in notifications %}
    <pre><hr>{{ notif.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}{% if notif.event_type == 1 %}
<a href="/@{{ notif.username }}">{{ notif.display_name }}@{{ notif.username }}</a> followed you.{% elif notif.event_type == 2 %}
<a href="/@{{ notif.username }}">{{ notif.display_name }}@{{ notif.username }}</a> replied to <a href="/@{{ username }}/{{ notif.note_id }}">your note</a>{% elif notif.event_type == 3 %}
<a href="/@{{ notif.username }}">{{ notif.display_name }}@{{ notif.username }}</a> liked <a href="/@{{ username }}/{{ notif.note_id }}">your note</a>{% elif notif.event_type == 4 %}
<a href="/@{{ notif.username }}">{{ notif.display_name }}@{{ notif.username }}</a> boosted <a href="/@{{ username }}/{{ notif.note_id }}">your note</a>{% endif %}</pre>
    {% else %}
    <pre>No notifications yet.</pre>
    {% endfor %}

</body>