<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>Sign Up - TinyAP</title>
</head>

<body>
    <h3>Sign Up</h3>
    {% if allow_signup %}
    <form action="/signup" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Sign Up">
    </form>
    {% else %}
    <pre>Sign up is currently disabled.</pre>
    {% endif %}
</body>