<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    {% if "Home" in title %}<title>Home - {{ site_name }}</title>
    {% else %}<title>{{ title }} - {{ site_name }}</title>{% endif %}
</head>

<body>
    <pre><a href="/home">Home</a> | <a href="/notifications">Notifications</a> | <a href="/new">New Note</a> | <a href="/local">Local Timeline</a> | <a href="/federated">Federated Timeline</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a></pre>

    <h3>{{ title | safe }}</h3>

    {% for note in notes %}
    {% if note.boosted_username %}
    <pre><hr><strong><a href="/@{{ note.username}}">{{ note.display_name }}@{{ note.username }}</a></strong> boosted:
<a href="/@{{ note.boosted_username}}">@{{ note.boosted_username }}</a>(<a href="/@{{ note.boosted_username }}/{{ note.uuid }}">{{ note.boosted_created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{% else %}
    <pre><hr><strong><a href="/@{{ note.username}}">{{ note.display_name }}@{{ note.username }}</a></strong>(<a href="/@{{ note.username }}/{{ note.uuid }}">{{ note.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{% endif %}{% if note.in_reply_to %}<small>[Reply to: {% if note.reply_to_author %}<a href="/@{{ note.reply_to_author }}">@{{note.reply_to_author}}</a>{% else %}{{note.in_reply_to}}{% endif %}]</small><br>{% endif %}{{ note.content }}</pre>
    {% else %}
    <pre>No notes yet.</pre>
    {% endfor %}

    {% if notes | length == max_notes %}
    <pre><a href="?until={{ until_next }}">Older Notes</a></pre>
    {% endif %}
</body>