<!DOCTYPE html>

<head>
    {% include "parts/head.html" %}
    <title>{{ title }} - {{ instance_name }}</title>
</head>

<body>
    {% include "parts/header.html" %}

    <h3>{{ title }}{% if username %} for <a href="/@{{ username }}">{{ display_name }}</a>{% endif %}</h3>

    {% for note in notes %}{% if note.boosted_id %}
    <pre><hr><a href="/@{{ note.username }}">{{ note.display_name }}@{{ note.username }}</a> boosted:
<a href="/@{{ note.boosted_username }}">@{{ note.boosted_username }}</a> (<a href="/@{{ note.boosted_username }}/{{ note.boosted_id }}">{{ note.boosted_created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>){% else %}
    <pre><hr>{% if note.parent_id %}<small>Reply to <a href="/@{{ note.parent_author_username }}">@{{ note.parent_author_username }}</a></small>
{% endif %}<a href="/@{{ note.username }}">{{ note.display_name }}@{{ note.username }}</a> (<a href="/@{{ note.username }}/{{ note.id }}">{{ note.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>){% endif %}
{{ note.content | safe }}{% if note.attachments %}
---Attachments---
{{ note.attachments | safe }}{% endif %}</pre>
    {% else %}
    <pre>No notes yet.</pre>
    {% endfor %}

    {% if notes | length == max_notes %}
    <pre><a href="?until={{ until_next }}">Older Notes</a></pre>
    {% endif %}
</body>