<!DOCTYPE html>

<head>
    {% include "parts/head.html" %}
    <title>{{ user.display_name }}@{{ user.username }} - {{ instance_name }}</title>
</head>

<body>
    {% include "parts/header.html" %}

    <h3>{{ user.display_name }}@{{ user.username }}{% if user.is_local %}<small>@{{ domain }}</small>{% endif %}</h3>

    <pre>{{ user.bio }}
Joined: {{ user.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}
{{ user.note_count }} notes, <a href="/@{{ user.username }}/following">{{ user.following_count }}</a> following, <a href="/@{{ user.username }}/followers">{{ user.follower_count }}</a> followers</pre>

    {% if following_status == 0 %}
    <form action="/@{{ user.username }}/follow" method="post">
        <button type="submit">Follow</button>
    </form>
    {% elif following_status == 3 %}
    <a href="/profile">Edit Profile</a>
    {% else %}
    <form action="/@{{ user.username }}/unfollow" method="post">
        {% if following_status == 1 %}
        <button type="submit">Unfollow</button>
        {% elif following_status == 2 %}
        <button type="submit">Pending..</button>
        {% endif %}
    </form>
    {% endif %}

    {% for note in notes %}
    {% if note.boosted_id %}
    <pre><hr><a href="/@{{ note.username }}">{{ note.display_name }}@{{ note.username }}</a> boosted:
<a href="/@{{ note.boosted_username }}">@{{ note.boosted_username }}</a> (<a href="/@{{ note.boosted_username }}/{{ note.boosted_id }}">{{ note.boosted_created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>){% else %}
    <pre><hr><a href="/@{{ note.username }}">{{ note.display_name }}@{{ note.username }}</a> (<a href="/@{{ note.username }}/{{ note.id }}">{{ note.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>){% endif %}
{% if note.parent_id %}<small>Reply to <a href="/@{{ note.parent_author_username }}">@{{ note.parent_author_username }}</a></small>
{% endif %}{{ note.content | safe }}{% if note.attachments %}

{{ note.attachments | safe }}{% endif %}</pre>
    {% else %}
    <pre>No notes yet.</pre>
    {% endfor %}

    {% if notes | length == max_notes %}
    <pre><a href="?until={{ until_next }}">Older Notes</a></pre>
    {% endif %}
</body>