<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <title>{{ display_name }}@{{ username }} - {{ site_name }}</title>
</head>

<body>
    <pre><a href="/home">Home</a> | <a href="/notifications">Notifications</a> | <a href="/new">New Note</a> | <a href="/local">Local Timeline</a> | <a href="/federated">Federated Timeline</a> | <a href="/profile">Profile</a> | <a href="/logout">Logout</a></pre>

    <h3>{{ display_name }}@{{ username }}{% if is_local %}<small>@{{ domain }}</small>{% endif %}</h3>

    <pre>{{ bio }}
Joined: {{ created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}
<a href="/@{{ username }}/following">{{ follow_num }}</a> following, <a href="/@{{ username }}/followers">{{ follower_num }}</a> follower</pre>
    {% if follow_status == "to_follow" %}
    <form action="/@{{ username }}/follow" method="post">
        <button type="submit">Follow</button>
    </form>
    {% elif follow_status == "self" %}
    {% else %}
    <form action="/@{{ username }}/unfollow" method="post">
        {% if follow_status == "following" %}
        <button type="submit">Unfollow</button>
        {% elif follow_status == "pending" %}
        <button type="submit">Pending..</button>
        {% endif %}
    </form>
    {% endif %}

    {% for note in notes %}
    {% if note.boosted_username %}
    <pre><hr><strong><a href="/@{{ username }}">{{display_name}}@{{ username }}</a></strong> boosted:
<a href="/@{{ note.boosted_username}}">@{{ note.boosted_username }}</a>(<a href="/@{{ note.boosted_username }}/{{ note.uuid }}">{{ note.boosted_created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{% else %}
    <pre><hr><strong><a href="/@{{ username }}">{{ display_name }}@{{ username }}</a></strong>(<a href="/@{{ username }}/{{ note.uuid }}">{{ note.created_at | date(format="%Y-%m-%d %H:%M:%S", timezone=timezone) }}</a>)
{% endif %}{% if note.in_reply_to %}<small>[Reply to: {% if note.reply_to_author %}<a href="/@{{ note.reply_to_author }}">@{{ note.reply_to_author }}</a>{% else %}{{ note.in_reply_to }}{% endif %}]</small><br>{% endif %}{{ note.content }}</pre>
    {% else %}
    <pre>No notes yet.</pre>
    {% endfor %}

    {% if page > 1 and notes | length == max_notes %}
    <pre><a href="/@{{ username }}?p={{ page - 1 }}">Newer Notes</a> | <a href="/@{{ username }}?p={{ page + 1 }}">Older Notes</a></pre>
    {% elif notes | length == max_notes %}
    <pre><a href="/@{{ username }}?p={{ page + 1 }}">Older Notes</a></pre>
    {% elif page > 1 %}
    <pre><a href="/@{{ username }}?p={{ page - 1 }}">Newer Notes</a></pre>
    {% endif %}
</body>